#mi .top-container {
  width: 100%;
  height: 40px;
  background-color: #333;
}
#mi .top-container .topbar {
  position: relative;
  font-size: 12px;
  z-index: 11;
}
#mi .top-container .topbar .topbar-nav {
  float: left;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
#mi .top-container .topbar .topbar-nav > ul > li {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
}
#mi .top-container .topbar .topbar-nav > ul > li > span {
  display: inline-block;
  color: #b0b0b0;
  margin-left: 5px;
}
#mi .top-container .topbar .topbar-nav > ul > li > span:hover {
  color: #fff;
}
#mi .top-container .topbar .topbar-nav > ul > li > a {
  display: inline-block;
  font-size: 12px;
  color: #b0b0b0;
}
#mi .top-container .topbar .topbar-nav > ul > li > a:hover {
  color: #fff;
}
#mi .top-container .topbar .topbar-info {
  position: absolute;
  top: 0;
  right: 140px;
  height: 40px;
  line-height: 40px;
}
#mi .top-container .topbar .topbar-info > span {
  display: inline-block;
  color: #b0b0b0;
}
#mi .top-container .topbar .topbar-info > span:hover {
  color: #fff;
}
#mi .top-container .topbar .topbar-info > a {
  color: #b0b0b0;
}
#mi .top-container .topbar .topbar-info > a:hover {
  color: #fff;
}
#mi .top-container .topbar .topbar-car {
  position: relative;
  float: right;
  width: 120px;
  background: #424242;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}
#mi .top-container .topbar .topbar-car:hover {
  background-color: #fff;
}
#mi .top-container .topbar .topbar-car:hover .car-list {
  height: 96px;
}
#mi .top-container .topbar .topbar-car .car-list {
  height: 0;
  position: absolute;
  right: 0;
  top: 39px;
  line-height: 96px;
  text-align: center;
  color: #b0b0b0;
  background: #fff;
  z-index: 10;
  width: 316px;
  overflow: hidden;
  box-shadow: 0 0 5px #ccc;
  transition: all .5s ease;
}
#mi .top-container .topbar .topbar-car .car .fa-cart {
  position: absolute;
  left: 15px;
  top: 0px;
  color: #b0b0b0;
  font-size: 20px;
}
#mi .top-container .topbar .topbar-car .car > a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 40px;
  color: #b0b0b0;
  box-sizing: border-box;
}
#mi .top-container .topbar .topbar-car .car > a:hover {
  color: #ff6700;
}
#mi .top-header {
  width: 100%;
  height: 100px;
}
#mi .top-header .container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}
#mi .top-header .container .icon-mi {
  background: url('../img/logo.png') no-repeat;
  width: 55px;
  height: 55px;
}
#mi .top-header .container .pic-gif {
  background: url('../img/win.gif') no-repeat;
  width: 163px;
  height: 66px;
  margin-left: 10px;
  background-size: 100% 100%;
}
#mi .top-header .container .header-navs {
  position: relative;
}
#mi .top-header .container .header-navs .nav {
  height: 88px;
  line-height: 88px;
  margin: 0;
  padding: 0;
}
#mi .top-header .container .header-navs .nav > li {
  display: inline-block;
}
#mi .top-header .container .header-navs .nav > li > a {
  display: block;
  height: 88px;
  line-height: 88px;
  font-size: 16px;
  padding: 0 7px;
  color: #333;
}
#mi .top-header .container .header-navs .nav > li > a:hover {
  color: #ff6700;
}
#mi .top-header .container .header-search {
  position: absolute;
  top: 23px;
  right: 0;
  width: 295px;
  height: 50px;
  border: 1px solid #e0e0e0;
  transition: all .3s ease;
}
#mi .top-header .container .header-search .hot-word {
  position: absolute;
  top: 14px;
  right: 62px;
  z-index: 2;
  text-align: right;
}
#mi .top-header .container .header-search .hot-word .hot-item {
  float: left;
  width: auto;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
  font-size: 12px;
  background: #eee;
  color: #757575;
  margin-right: 5px;
  cursor: pointer;
}
#mi .top-header .container .header-search .hot-word .hot-item:hover {
  background: #ff6300;
  color: #fff;
}
#mi .top-header .container .header-search .search-ipt {
  float: left;
  width: 240px;
  height: 100%;
  border: 0;
}
#mi .top-header .container .header-search .search-btn {
  display: block;
  float: right;
  width: 50px;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  cursor: pointer;
}
#mi .top-header .container .header-search .search-btn .icon-sousuo {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 17px;
  margin-left: 13px;
  font-size: 22px;
}
#mi .top-header .container .header-search .search-btn:hover {
  background: #ff6300;
  color: #fff;
}
#mi .top-header .container .header-search .search-result {
  position: absolute;
  left: -1px;
  top: 50px;
  width: 244px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #ff6700;
  background: #fff;
  z-index: 11;
  display: none;
}
#mi .top-header .container .header-search .search-result > li {
  width: 100%;
  height: 30px;
  padding: 7px 13px;
  cursor: pointer;
  box-sizing: border-box;
}
#mi .top-header .container .header-search .search-result > li .item-name {
  float: left;
  font-size: 12px;
  color: #000;
}
#mi .top-header .container .header-search .search-result > li .item-num {
  float: right;
  font-size: 10px;
  color: #b0b0b0;
}
#mi .top-header .header-menu {
  height: 230px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 140px;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 5px #ccc;
  z-index: 11;
  display: none;
}
#mi .top-header .header-menu .menus {
  margin: 0;
  padding: 30px 0 0 150px;
  min-width: 1500px;
}
#mi .top-header .header-menu .menus .product {
  float: left;
}
#mi .top-header .header-menu .menus .product > a {
  display: block;
  padding: 0 30px;
  border-right: 1px solid #ccc;
  color: #333;
}
#mi .top-header .header-menu .menus .product > a > img {
  width: 160px;
  height: 110px;
}
#mi .top-header .header-menu .menus .product .product-name {
  width: 100%;
  height: 16px;
  margin-top: 16px;
  font-size: 12px;
  text-align: center;
}
#mi .top-header .header-menu .menus .product .product-price {
  width: 100%;
  height: 14px;
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  color: #ff6700;
}
#mi .top-banner {
  overflow: hidden;
  position: relative;
  height: auto;
}
#mi .top-banner .site-category {
  position: absolute;
  left: 0;
  top: 0;
  width: 235px;
  height: auto;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
#mi .top-banner .site-category .top-side-left .side-left {
  margin: 0;
  padding: 0;
  width: 235px;
  height: 420px;
}
#mi .top-banner .site-category .top-side-left .side-left > li {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
#mi .top-banner .site-category .top-side-left .side-left > li:hover {
  background: #ff6300;
}
#mi .top-banner .site-category .site-category-detail {
  position: absolute;
  left: 235px;
  top: 0;
  z-index: 10;
  border: 1px solid #e0e0e0;
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.18);
}
#mi .top-banner .site-category .site-category-detail .category-items {
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 460px;
  width: auto;
  margin: 0;
  padding: 0;
  background: #fff;
}
#mi .top-banner .site-category .site-category-detail .category-items .category-goods {
  background: #fff;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 265px;
  height: 76px;
  padding: 0 20px;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: flex-start;
}
#mi .top-banner .site-category .site-category-detail .category-items .category-goods .goods-link {
  width: 170px;
  color: #333;
  display: flex;
  flex-flow: row;
  align-items: center;
}
#mi .top-banner .site-category .site-category-detail .category-items .category-goods .goods-link .text-name {
  padding-left: 10px;
  font-size: 14px;
}
#mi .top-banner .site-category .site-category-detail .category-items .category-goods .goods-buy-link {
  display: block;
  width: 58px;
  height: 22px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  color: #ff6300;
  border: 1px solid #ff6300;
}
#mi .top-banner .site-category .site-category-detail .category-items .category-goods .goods-buy-link.false {
  display: none;
}
#mi .top-banner .banner {
  position: relative;
  height: 460px;
  z-index: 0;
}
#mi .top-banner .banner .banner-left {
  display: block;
  position: absolute;
  left: 235px;
  top: 50%;
  width: 40px;
  height: 70px;
  margin-top: -35px;
  z-index: 10;
  cursor: pointer;
}
#mi .top-banner .banner .banner-left:hover {
  background: rgba(0, 0, 0, 0.3);
}
#mi .top-banner .banner .banner-left > i {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -12px;
  margin-left: -15px;
  font-size: 30px;
  color: #ecf0f1;
  transform: rotateY(180deg);
}
#mi .top-banner .banner .banner-right {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 40px;
  height: 70px;
  margin-top: -35px;
  z-index: 10;
  cursor: pointer;
}
#mi .top-banner .banner .banner-right:hover {
  background: rgba(0, 0, 0, 0.3);
}
#mi .top-banner .banner .banner-right > i {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -12px;
  margin-left: -15px;
  font-size: 30px;
  color: #ecf0f1;
}
#mi .top-banner .banner .slide {
  transition: all .5s ease;
  opacity: 1;
  display: none;
  height: 460px;
  width: 1226px;
}
#mi .top-banner .banner .slide > a > img {
  width: 100%;
  height: 100%;
}
#mi .top-banner .banner .slide:first-of-type {
  display: block;
}
#mi .top-sub {
  position: relative;
  margin: 14px auto 26px;
  height: auto;
}
#mi .top-sub .sub-left {
  float: left;
  width: 234px;
  height: 170px;
  background: #5f5750;
}
#mi .top-sub .sub-left .channels {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 3px;
}
#mi .top-sub .sub-left .channels > li {
  width: 75px;
  height: 82px;
  cursor: pointer;
}
#mi .top-sub .sub-left .channels > li:hover a {
  color: #fff;
  opacity: 1;
}
#mi .top-sub .sub-left .channels > li > a {
  opacity: .5;
  color: #ccc;
}
#mi .top-sub .sub-left .channels > li > a .sub-icon {
  width: 75px;
  height: 24px;
  margin-top: 18px;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}
#mi .top-sub .sub-left .channels > li > a .channel-txt {
  display: block;
  margin: 0;
  width: 75px;
  font-size: 12px;
  text-align: center;
}
#mi .top-sub .sub-left .channels .line-channel {
  width: 1px;
  height: 60px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
}
#mi .top-sub .sub-left .channels .line-horizontal {
  width: 60px;
  height: 1px;
  margin: 0 8px;
  background: rgba(255, 255, 255, 0.1);
}
#mi .top-sub .sub-right {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
#mi .top-sub .sub-right > li {
  width: 316px;
  height: 170px;
  margin-left: 15px;
}
#mi .top-sub .sub-right > li > a {
  display: block;
  transition: all .3s;
}
#mi .top-sub .sub-right > li > a:hover {
  box-shadow: 0 5px 30px #ccc;
}
#mi .top-sub .sub-right > li > a > img {
  display: block;
  width: 316px;
  height: 170px;
}
#mi .goods-container {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding-bottom: 40px;
}
#mi .goods-container .boxs-container {
  width: 100%;
  height: auto;
  padding-top: 60px;
  margin-bottom: 26px;
  background: #f5f5f5;
}
#mi .goods-container .boxs-container .boxs {
  position: relative;
  height: auto;
  margin: 0 auto;
}
#mi .goods-container .boxs-container .boxs .boxs-top {
  width: 100%;
  height: 58px;
}
#mi .goods-container .boxs-container .boxs .boxs-top .top-title {
  float: left;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#mi .goods-container .boxs-container .boxs .boxs-top > a {
  color: #333;
}
#mi .goods-container .boxs-container .boxs .boxs-top > a .top-sub {
  margin: 0;
  float: right;
  display: block;
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  cursor: pointer;
}
#mi .goods-container .boxs-container .boxs .boxs-top > a .top-sub:hover {
  color: #ff6700;
}
#mi .goods-container .boxs-container .boxs .boxs-top > a .top-sub:hover > i {
  color: #ff6700;
}
#mi .goods-container .boxs-container .boxs .boxs-top > a .top-sub .all-icon {
  font-size: 20px;
  color: #b0b0b0;
  text-align: center;
  width: 1.28em;
  display: inline-block;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-left {
  float: left;
  width: 234px;
  height: 614px;
  cursor: pointer;
  transition: all .3s;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-left:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-left img {
  height: 614px;
  vertical-align: middle;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right {
  float: right;
  width: 992px;
  height: 614px;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item {
  position: relative;
  margin: 0 0 14px 14px;
  padding: 20px 0;
  width: 234px;
  height: 260px;
  background: #fff;
  transition: all .3s;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item .discount-label {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 20px;
  line-height: 20px;
  margin-left: -32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  z-index: 4;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item .discount-label.free {
  background-color: #ffac13;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item .discount-label.new {
  background-color: #83c44e;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item .discount-label.discount {
  background-color: #e53935;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item > a > img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item > a > h3 {
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 400;
  display: block;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item .box-desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
  display: block;
}
#mi .goods-container .boxs-container .boxs .boxs-content .box-right .box-list .box-item .box-price {
  color: #ff6700;
  font-size: 14px;
  text-align: center;
  display: block;
}
#mi .goods-container .around-container {
  height: auto;
  margin: 0 auto;
}
#mi .goods-container .around-container .goods-top {
  width: 100%;
  height: 58px;
}
#mi .goods-container .around-container .goods-top > h3 {
  float: left;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#mi .goods-container .around-container .goods-top .top-sub {
  float: right;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin-top: 16px;
  color: #424242;
}
#mi .goods-container .around-container .goods-top .top-sub .active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
#mi .goods-container .around-container .goods-top .top-sub > li {
  width: auto;
  height: 24px;
  line-height: 24px;
  margin-left: 30px;
  cursor: pointer;
}
#mi .goods-container .around-container .goods-content .goods-left {
  float: left;
  width: 234px;
  height: auto;
}
#mi .goods-container .around-container .goods-content .goods-left .goods-left-item {
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all .3s;
  position: relative;
}
#mi .goods-container .around-container .goods-content .goods-left .goods-left-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container .goods-content .goods-left .goods-left-item > a > img {
  width: 234px;
  height: 300px;
}
#mi .goods-container .around-container .goods-content .goods-right {
  margin-top: -9px;
  float: left;
  width: 992px;
  height: 628px;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item {
  position: relative;
  margin: 0 0 14px 14px;
  padding: 20px 0;
  width: 234px;
  height: 260px;
  background: #fff;
  cursor: pointer;
  transition: all .3s;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item:hover .review {
  height: 76px;
  opacity: 1;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item .discount-label {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 20px;
  line-height: 20px;
  margin-left: -32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  z-index: 4;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item > a > img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item > a > h3 {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 14px 0;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item .goods-price {
  color: #ff6700;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 14px 0;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item .goods-rank {
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
  display: block;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item .review {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 234px;
  line-height: 18px;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  color: #fff;
  background: #ff6700;
  opacity: 0;
  transition: all .3s;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item .review.false {
  height: 0;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item .review .review-content {
  display: block;
  text-align: center;
  margin: 8px 30px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-item .review .review-author {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content li:last-of-type {
  width: 204px;
  height: 113px;
  margin: 0 0 14px 14px;
  padding: 30px 0 0 30px;
  cursor: pointer;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content li:last-of-type > a {
  display: block;
  position: relative;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content li:last-of-type > a > img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -27px;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content li:last-of-type > a > h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 80px;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content li:last-of-type .goods-rank {
  display: none;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content li:last-of-type .goods-price {
  display: block;
  width: 80px;
  text-align: center;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content li:last-of-type .review {
  display: none;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-small {
  width: 234px;
  height: 143px;
  margin: 0 0 14px 14px;
  padding: 30px 0 0 30px;
  background: #fff;
  cursor: pointer;
  transition: all .3s;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-small:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-small > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-small > a .desc {
  float: left;
  width: 80px;
  height: 100%;
  margin-right: 20px;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-small > a .desc .title {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 14px 0;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-small > a .desc .hot {
  display: block;
  width: 100%;
  color: #ff6700;
  font-size: 14px;
  text-align: center;
}
#mi .goods-container .around-container .goods-content .goods-right .goods-right-content .goods-right-small > a > i {
  margin-top: 5px;
  color: #ff6700;
  font-size: 5em;
  display: inline-block;
  line-height: 55px;
}
#mi .goods-container .around-container2 {
  height: auto;
  margin: 0 auto;
}
#mi .goods-container .around-container2 .goods-top {
  width: 100%;
  height: 58px;
}
#mi .goods-container .around-container2 .goods-top > h3 {
  float: left;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#mi .goods-container .around-container2 .goods-top .top-sub {
  float: right;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin-top: 16px;
  color: #424242;
}
#mi .goods-container .around-container2 .goods-top .top-sub .active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
#mi .goods-container .around-container2 .goods-top .top-sub > li {
  width: auto;
  height: 24px;
  line-height: 24px;
  margin-left: 30px;
  cursor: pointer;
}
#mi .goods-container .around-container2 .goods-content .goods-left {
  float: left;
  width: 234px;
  height: auto;
}
#mi .goods-container .around-container2 .goods-content .goods-left .goods-left-item {
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all .3s;
  position: relative;
}
#mi .goods-container .around-container2 .goods-content .goods-left .goods-left-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container2 .goods-content .goods-left .goods-left-item > a > img {
  width: 234px;
  height: 300px;
}
#mi .goods-container .around-container2 .goods-content .goods-right {
  margin-top: -9px;
  float: left;
  width: 992px;
  height: 628px;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item {
  position: relative;
  margin: 0 0 14px 14px;
  padding: 20px 0;
  width: 234px;
  height: 260px;
  background: #fff;
  cursor: pointer;
  transition: all .3s;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item:hover .review {
  height: 76px;
  opacity: 1;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item .discount-label {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 20px;
  line-height: 20px;
  margin-left: -32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  z-index: 4;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item > a > img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item > a > h3 {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 14px 0;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item .goods-price {
  color: #ff6700;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 14px 0;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item .goods-rank {
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
  display: block;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item .review {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 234px;
  line-height: 18px;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  color: #fff;
  background: #ff6700;
  opacity: 0;
  transition: all .3s;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item .review.false {
  height: 0;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item .review .review-content {
  display: block;
  text-align: center;
  margin: 8px 30px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-item .review .review-author {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content li:last-of-type {
  width: 204px;
  height: 113px;
  margin: 0 0 14px 14px;
  padding: 30px 0 0 30px;
  cursor: pointer;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content li:last-of-type > a {
  display: block;
  position: relative;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content li:last-of-type > a > img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -27px;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content li:last-of-type > a > h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 80px;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content li:last-of-type .goods-rank {
  display: none;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content li:last-of-type .goods-price {
  display: block;
  width: 80px;
  text-align: center;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content li:last-of-type .review {
  display: none;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-small {
  width: 234px;
  height: 143px;
  margin: 0 0 14px 14px;
  padding: 30px 0 0 30px;
  background: #fff;
  cursor: pointer;
  transition: all .3s;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-small:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-small > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-small > a .desc {
  float: left;
  width: 80px;
  height: 100%;
  margin-right: 20px;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-small > a .desc .title {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 14px 0;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-small > a .desc .hot {
  display: block;
  width: 100%;
  color: #ff6700;
  font-size: 14px;
  text-align: center;
}
#mi .goods-container .around-container2 .goods-content .goods-right .goods-right-content .goods-right-small > a > i {
  margin-top: 5px;
  color: #ff6700;
  font-size: 5em;
  display: inline-block;
  line-height: 55px;
}
#mi .goods-container .around-container3 {
  height: auto;
  margin: 0 auto;
}
#mi .goods-container .around-container3 .goods-top {
  width: 100%;
  height: 58px;
}
#mi .goods-container .around-container3 .goods-top > h3 {
  float: left;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#mi .goods-container .around-container3 .goods-top .top-sub {
  float: right;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin-top: 16px;
  color: #424242;
}
#mi .goods-container .around-container3 .goods-top .top-sub .active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
#mi .goods-container .around-container3 .goods-top .top-sub > li {
  width: auto;
  height: 24px;
  line-height: 24px;
  margin-left: 30px;
  cursor: pointer;
}
#mi .goods-container .around-container3 .goods-content .goods-left {
  float: left;
  width: 234px;
  height: auto;
}
#mi .goods-container .around-container3 .goods-content .goods-left .goods-left-item {
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all .3s;
  position: relative;
}
#mi .goods-container .around-container3 .goods-content .goods-left .goods-left-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container3 .goods-content .goods-left .goods-left-item > a > img {
  width: 234px;
  height: 300px;
}
#mi .goods-container .around-container3 .goods-content .goods-right {
  margin-top: -9px;
  float: left;
  width: 992px;
  height: 628px;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item {
  position: relative;
  margin: 0 0 14px 14px;
  padding: 20px 0;
  width: 234px;
  height: 260px;
  background: #fff;
  cursor: pointer;
  transition: all .3s;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item:hover .review {
  height: 76px;
  opacity: 1;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .discount-label {
  position: absolute;
  top: 0;
  left: 50%;
  width: 64px;
  height: 20px;
  line-height: 20px;
  margin-left: -32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  z-index: 4;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .discount-label.discount {
  background-color: #e53935;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item > a > img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item > a > h3 {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 14px 0;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .goods-price {
  color: #ff6700;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 14px 0;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .goods-price .old-price {
  color: #b0b0b0;
  text-decoration: line-through;
  margin-left: 5px;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .goods-rank {
  margin: 0 10px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
  display: block;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .review {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 234px;
  line-height: 18px;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  color: #fff;
  background: #ff6700;
  opacity: 0;
  transition: all .3s;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .review.false {
  height: 0;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .review .review-content {
  display: block;
  text-align: center;
  margin: 8px 30px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-item .review .review-author {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content li:last-of-type {
  width: 204px;
  height: 113px;
  margin: 0 0 14px 14px;
  padding: 30px 0 0 30px;
  cursor: pointer;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content li:last-of-type > a {
  display: block;
  position: relative;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content li:last-of-type > a > img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -27px;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content li:last-of-type > a > h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 80px;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content li:last-of-type .goods-rank {
  display: none;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content li:last-of-type .goods-price {
  display: block;
  width: 80px;
  text-align: center;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content li:last-of-type .review {
  display: none;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-small {
  width: 234px;
  height: 143px;
  margin: 0 0 14px 14px;
  padding: 30px 0 0 30px;
  background: #fff;
  cursor: pointer;
  transition: all .3s;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-small:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 20px #ccc;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-small > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-small > a .desc {
  float: left;
  width: 80px;
  height: 100%;
  margin-right: 20px;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-small > a .desc .title {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #333;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 14px 0;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-small > a .desc .hot {
  display: block;
  width: 100%;
  color: #ff6700;
  font-size: 14px;
  text-align: center;
}
#mi .goods-container .around-container3 .goods-content .goods-right .goods-right-content .goods-right-small > a > i {
  margin-top: 5px;
  color: #ff6700;
  font-size: 5em;
  display: inline-block;
  line-height: 55px;
}
#mi .goods-container .recommend-container {
  height: auto;
  margin: 0 auto;
}
#mi .goods-container .recommend-container .recommend-header {
  position: relative;
}
#mi .goods-container .recommend-container .recommend-header .title {
  display: block;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#mi .goods-container .recommend-container .recommend-header .control-part {
  position: absolute;
  top: 10px;
  right: 0;
  float: left;
  display: block;
}
#mi .goods-container .recommend-container .recommend-header .control-part .control {
  display: block;
  float: left;
  width: 34px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
#mi .goods-container .recommend-container .recommend-header .control-part .control:hover .icon-arrow-left,
#mi .goods-container .recommend-container .recommend-header .control-part .control:hover .icon-arrow-right {
  color: #ff6700;
}
#mi .goods-container .recommend-container .recommend-header .control-part .control .icon-arrow-left {
  color: #b0b0b0;
  font-size: 10px;
  transform: rotateY(180deg);
  display: block;
}
#mi .goods-container .recommend-container .recommend-header .control-part .control .icon-arrow-right {
  color: #b0b0b0;
  font-size: 10px;
}
#mi .goods-container .recommend-container .recommend-header .control-part .control i.icon-arrow-right.disabled {
  color: #e0e0e0;
}
#mi .goods-container .recommend-container .recommend-wrap {
  height: 310px;
  overflow: hidden;
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content {
  height: 300px;
  transition: all .3s;
  width: auto;
  margin: 0;
  padding: 0;
  margin-left: 0;
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content .recomend-item {
  float: left;
  display: block;
  width: 234px;
  margin: 0 10px 14px 0;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
  height: 300px;
  transition: all .3s;
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content .recomend-item:hover {
  transform: translateY(-3px);
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content .recomend-item > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content .recomend-item > a .item-image {
  display: block;
  width: 140px;
  height: 140px;
  margin: 40px auto 15px;
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content .recomend-item > a .item-name {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #333;
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content .recomend-item > a .item-price {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  color: #ff6700;
  display: block;
  margin-top: 14px;
}
#mi .goods-container .recommend-container .recommend-wrap .recommend-content .recomend-item > a .item-favorable {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #757575;
  margin: 14px 0;
}
#mi .goods-container .hot-container {
  height: auto;
  margin: 0 auto;
}
#mi .goods-container .hot-container .header-wrap {
  position: relative;
}
#mi .goods-container .hot-container .header-wrap .title {
  display: block;
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#mi .goods-container .hot-container .hot-wrap {
  position: relative;
}
#mi .goods-container .hot-container .hot-wrap .hot-content {
  margin: 0;
  padding: 0;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item {
  margin-left: 0;
  float: left;
  width: 296px;
  height: 415px;
  margin: 0 0 14px 14px;
  cursor: pointer;
  transition: all .2s linear;
  background: #fff;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a {
  text-decoration: none;
  color: #333;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a .item-image {
  width: 296px;
  height: 220px;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a .item-evaluation .review-txt {
  height: 72px;
  margin: 22px 28px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;
  display: block;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a .item-evaluation .author {
  display: block;
  position: relative;
  height: 18px;
  margin: 0 28px 8px;
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #b0b0b0;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a .item-desc {
  padding-left: 30px;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a .item-desc .item-name {
  font-size: 14px;
  color: #333;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a .item-desc .sep {
  margin: 0 4px;
  color: #e0e0e0;
}
#mi .goods-container .hot-container .hot-wrap .hot-content .hot-item > a .item-desc .item-price {
  font-size: 14px;
  color: #ff6700;
}
#mi .goods-container .hot-container .hot-wrap .hot-content li:first-of-type {
  margin-left: 0;
}
#mi .goods-container #content {
  margin-top: 40px;
}
#mi .goods-container #content h3 {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 200;
  float: left;
  line-height: 30px;
  font-size: 22px;
}
#mi .goods-container #content ul > li {
  float: left;
  margin-right: 15px;
  width: 295px;
  height: 415px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: all .2s linear;
}
#mi .goods-container #content ul > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
#mi .goods-container #content ul > li:hover .iconfont {
  opacity: 1;
}
#mi .goods-container #content ul > li h3 {
  display: block;
  margin-top: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
#mi .goods-container #content ul > li .bigBox {
  width: 2000px;
  height: 330px;
  position: absolute;
  bottom: 0px;
  left: 0;
}
#mi .goods-container #content ul > li .bigBox .smallBox {
  float: left;
  width: 295px;
  height: 300px;
  text-align: center;
  position: relative;
}
#mi .goods-container #content ul > li .bigBox .smallBox h4 {
  font-size: 20px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
}
#mi .goods-container #content ul > li .bigBox .smallBox .intro {
  color: #ccc;
  padding: 0 40px;
  height: 50px;
}
#mi .goods-container #content ul > li .bigBox .smallBox .price {
  font-size: 14px;
  color: #333;
  height: 21px;
  margin: 0 10px 15px;
  text-align: center;
  display: block;
}
#mi .goods-container #content ul > li .bigBox .smallBox img {
  width: 220px;
  height: 157px;
  position: absolute;
  bottom: 20px;
  left: 35px;
}
#mi .goods-container #content ul > li span {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 20px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
  padding: 12px 0;
  cursor: pointer;
  background-color: rgba(66, 66, 66, 0.2);
  opacity: 0;
  color: #fafafa;
  transition: all .6s;
}
#mi .goods-container #content ul > li span:hover {
  opacity: .8;
}
#mi .goods-container #content ul > li span.turnLeft {
  left: 0;
  transform: rotateY(180deg);
}
#mi .goods-container #content ul > li span.turnLeft:hover {
  background-color: #757575;
}
#mi .goods-container #content ul > li span.turnRight {
  right: 0;
}
#mi .goods-container #content ul > li span.turnRight:hover {
  background-color: #757575;
}
#mi .goods-container #content ul > li .circle {
  position: absolute;
  width: 100px;
  height: 20px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-40px);
}
#mi .goods-container #content ul > li .circle s {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  margin-right: 10px;
  background-color: #B0B0B0;
  box-sizing: border-box;
  transition: all .5s;
  cursor: pointer;
}
#mi .goods-container #content ul > li .circle s.sChange {
  border: 2px solid #ff6700;
  background-color: transparent;
}
#mi .goods-container #content ul > li:nth-of-type(1) {
  border-top: 1px solid #ff6700;
}
#mi .goods-container #content ul > li:nth-of-type(1) > h3 {
  color: #ff6700;
}
#mi .goods-container #content ul > li:nth-of-type(2) {
  border-top: 1px solid green;
}
#mi .goods-container #content ul > li:nth-of-type(2) > h3 {
  color: green;
}
#mi .goods-container #content ul > li:nth-of-type(3) {
  border-top: 1px solid red;
}
#mi .goods-container #content ul > li:nth-of-type(3) > h3 {
  color: red;
}
#mi .goods-container #content ul > li:nth-of-type(4) {
  border-top: 1px solid blue;
  margin-right: 0;
}
#mi .goods-container #content ul > li:nth-of-type(4) > h3 {
  color: blue;
}
#mi .goods-container .mi-video {
  margin-bottom: 60px;
}
#mi .goods-container .mi-video .box-hd {
  position: relative;
  height: 58px;
}
#mi .goods-container .mi-video .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  display: block;
}
#mi .goods-container .mi-video .box-hd .more {
  position: absolute;
  top: 0;
  right: 0;
}
#mi .goods-container .mi-video .box-hd .more > a {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  transition: all .4s;
  text-decoration: none;
}
#mi .goods-container .mi-video .box-hd .more > a:hover {
  color: #ff6700;
}
#mi .goods-container .mi-video .box-hd .more > a .iconfont {
  width: 12px;
  height: 12px;
  border-radius: 16px;
  font-size: 22px;
  line-height: 22px;
  vertical-align: 1px;
  transition: all .2s;
}
#mi .goods-container .mi-video .box-bd .video-list {
  height: 285px;
  margin: 0;
  padding: 0;
}
#mi .goods-container .mi-video .box-bd .video-list li:first-of-type {
  margin-left: 0;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item {
  position: relative;
  float: left;
  margin-left: 14px;
  width: 296px;
  height: 285px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  transition: all .2s linear;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .figure {
  position: relative;
  width: 296px;
  height: 180px;
  margin: 0 0 28px;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .figure > a {
  display: block;
  height: 180px;
  color: #757575;
  text-decoration: none;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .figure > a:hover .play {
  background: #ff6700;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .figure > a > img {
  width: 296px;
  height: 180px;
  border: 0;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .figure > a .play {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all .2s;
  overflow: hidden;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .figure > a .play .iconfont {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .title {
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
  display: block;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .title > a:hover {
  color: #ff6700;
}
#mi .goods-container .mi-video .box-bd .video-list .video-item .desc {
  height: 18px;
  margin: 0;
  font-size: 12px;
  color: #b0b0b0;
  display: block;
}
#mi .goods-container .footer {
  background: #fff;
}
#mi .goods-container .footer .container {
  margin-right: auto;
  margin-left: auto;
}
#mi .goods-container .footer .container .footer-service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
#mi .goods-container .footer .container .footer-service .list-service {
  margin: 0;
  padding: 0;
}
#mi .goods-container .footer .container .footer-service .list-service > li {
  border-left: 1px solid #e0e0e0;
  float: left;
  width: 19.8%;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
#mi .goods-container .footer .container .footer-service .list-service > li > a {
  color: #616161;
  transition: color .2s;
}
#mi .goods-container .footer .container .footer-service .list-service > li > a:hover {
  color: #ff6700;
}
#mi .goods-container .footer .container .footer-service .list-service > li > a .iconfont {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: -4px;
}
#mi .goods-container .footer .container .footer-service .list-service li:first-of-type {
  border-left: 0;
}
#mi .goods-container .footer .container .footer-links {
  padding: 40px 0;
}
#mi .goods-container .footer .container .footer-links .col-links {
  display: block;
  float: left;
  width: 160px;
  height: 112px;
  margin: 0;
}
#mi .goods-container .footer .container .footer-links .col-links > dt {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
  display: block;
}
#mi .goods-container .footer .container .footer-links .col-links > dd {
  margin: 10px 0 0;
  font-size: 12px;
  display: block;
  color: #333;
}
#mi .goods-container .footer .container .footer-links .col-links > dd > a {
  color: #757575;
  text-decoration: none;
}
#mi .goods-container .footer .container .footer-links .col-links > dd > a:hover {
  color: #ff6700;
}
#mi .goods-container .footer .container .footer-links .col-contact {
  float: right;
  width: 251px;
  height: 112px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
}
#mi .goods-container .footer .container .footer-links .col-contact .phone {
  display: block;
  margin: 0 0 5px;
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
#mi .goods-container .footer .container .footer-links .col-contact .time {
  margin: 0 0 16px;
  font-size: 12px;
  display: block;
}
#mi .goods-container .footer .container .footer-links .col-contact > a {
  display: inline-block;
  width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  background: #fff;
  color: #ff6700;
  padding: 0;
  margin: 0;
  border: 1px solid #ff6700;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
  text-decoration: none;
}
#mi .goods-container .footer .container .footer-links .col-contact > a:hover {
  color: #fff;
  background-color: #f25807;
  border-color: #f25807;
}
#mi .goods-container .footer .container .footer-links .col-contact > a:hover i {
  color: #fff;
}
#mi .goods-container .footer .container .footer-links .col-contact > a .iconfont {
  color: #ff6700;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}
#mi .goods-container .site-info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
#mi .goods-container .site-info .container {
  margin-right: auto;
  margin-left: auto;
}
#mi .goods-container .site-info .container .logo {
  float: left;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  background: url('../img/logo.png') no-repeat 50% 50%;
  display: block;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
}
#mi .goods-container .site-info .container .info-text {
  float: left;
  color: #b0b0b0;
}
#mi .goods-container .site-info .container .info-text .sites {
  display: block;
  margin: 0;
  line-height: 18px;
}
#mi .goods-container .site-info .container .info-text .sites > a {
  color: #757575;
  text-decoration: none;
  line-height: 18px;
  font-size: 12px;
}
#mi .goods-container .site-info .container .info-text .sites > a:hover {
  color: #ff6700;
}
#mi .goods-container .site-info .container .info-text .sites .sep {
  line-height: 18px;
  color: #b0b0b0;
  font-size: 12px;
}
#mi .goods-container .site-info .container .info-text .jing {
  display: block;
  margin: 0;
  line-height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}
#mi .goods-container .site-info .container .info-text .jing > a {
  color: #b0b0b0;
  text-decoration: none;
}
#mi .goods-container .site-info .container .info-text .jing > a:hover {
  color: #ff6700;
}
#mi .goods-container .site-info .container .info-links {
  float: right;
  height: 28px;
  margin: 4px 0 0;
}
#mi .goods-container .site-info .container .info-links > a > img {
  width: auto;
  height: 28px;
  margin-left: 7px;
}
#mi .goods-container .site-info .slogan {
  clear: both;
  margin: 90px auto 0;
  width: 267px;
  height: 19px;
  background: url('../img/slogan2016.png') no-repeat center 0;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
  font-size: 12px;
}
